

body {
padding: 20px 30px;}   
 

button{
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
}

button:hover {
    background-color: rgb(188, 26, 26);
    color: black;   
    cursor: pointer;
}

button:active {
    background-color: yellow;
}

 input {
    padding: 5px 10px;
    border: 1px solid #000;
    outline: none;
 }

 input:focus {
    
    border: 2px solid #e41313;
  
 }

 a {
    display: block;
    font-size: 18px;
text-decoration: none;
color: #000;
 }

chek:checked{
    border: 2px solid green;
}

 .form-wrapper {
    padding: 20px 30px;
 }

 .not-link:link {
color: aquamarine;
 }
 
.visit-link:visited {
    color: coral;

}

li:first-child {
    font-weight: bold;
}

li:last-child {
    font-weight: bold;
    color: #e41313;
}

li:nth-child(2n) {
    font-weight: bold;
    color: cyan;
}

li:nth-of-type()