.img{
   height: 300px;
 
}

.img{
    float:left
}
.border{

    border: 1px solid black;
    height: 300px;
    width:  700px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: aquamarine;
    padding: 20px;
}