
body {
  /* font-family: "Noto Sans", sans-serif; */
}

.container {
  width: 100%;
  height: 100vh;
  padding: 50px;
  font-family: "Noto Sans", sans-serif;
  background-color: rgb(207, 185, 254);
}

.form-container {
  background-color: #fff;
  max-width: 760px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 96px 98px 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.input-container {
  position: relative;
  margin-bottom: 32px;
}

.input-container label{
  display: block;
  margin-bottom: 8px;
  color: #666;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;

}

.input-item {
  width: 100%;
  padding: 16px;
  color: #666;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

.input-rule,
.input-error{
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin-top: 8px;
}

.input-rule {
  display: inline-block;
  color: #666;
}

.input-error {
  display: none;
  color: #eb5757;
}

.input-item:focus {
  border: 2px solid #7a5cfa;
}

.input-item:invalid {
  border: 2px solid #eb5757;
}

.input-item:invalid + .input-error {
  display: inline-block;
}

/* .input-item:invalid::after{
  content: url(/errorIcon.svg);
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
} */

.switch{
  display: inline-block;
  position: relative;
  width: 49px;
  height: 24px;
}

.switch input {
  display: none;
  outline: none;
}

.slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 35px;
  transition: 0.4s;}

    .slider::before {
      position: absolute;
      content: "";
      height: 16px;
      width: 16px;
      right: 2px;
      bottom: 2px;
      background-color: #ccc;
      border: 1px solid #a2a2a2;
      border-radius: 50%;
      transition: 0.4s;
    }
    
    #toggle:checked + .slider {
      background-color: #7a5cfa;
    }
    
    #toggle:checked + .slider::before {
      transform: translateX(-25px);
    }
    /* .toggle-off {
      display: none;
    }
    
    .toggle-on {
      display: inline-block;
    } */
    
    




