.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
  
}
 
.grid-item {
    padding: 10px;
    margin: 5px;
   text-align: center;
  
   /* color: white; */
 }

header{
    background-color: blue;
    grid-column: 1/4;
  
}

 nav{
    background-color: violet ;
    grid-column: 1/2;
    grid-row: 2/5 ;

} 

main{
    background-color: orange;
     grid-column: 2/4;
    grid-row: 2/7; 
   height: ;
}

aside{
    background-color: darkgreen;
    grid-column:1/2 ;
        grid-row:5/9; 
        height:;}
    
.extra{
    background-color: gray;
    grid-column:2/4 ;
    grid-row:7/9; 
    height: 1; }

.img{
    background-color: lawngreen;
   grid-column: 1/3;
    grid-row: 9/11; 
} 

.post{
    background-color:pink ; 
     grid-column:3/4 ;
    grid-row: 9/11; 
    height: 2;

}

footer{
    background-color: brown; 
    grid-column:1/4 ;
    grid-row: 11/12; 
 } 