.header {
border-width: 10px;
border-color: rgb(7, 7, 70);
border-style: solid;
padding: 10px ;
background-color: blue;
margin: 20px 0px;
width: 70%;

}
.main-content {
border-style: solid;
border-color: rgb(158, 158, 36);
border-width: 40px;
background-color: yellow;

padding: 20px;
}

.footer {
    border-width: 10px;
border-color: rgb(7, 7, 70);
border-style: solid;
width: 70%;
padding: 10px ;

background-color: blue;
margin: 20px 0px;

}

#wrapper {
    width: 360px; ;
}