/* Top */
.flex-container-top {
    display: flex;
    flex-direction: column;
    background-color: rgb(99, 191, 160);
    justify-content: center;
    align-items: center;
    color: white;
    height: 300px;
}

.span{
    font-weight: bold;
}
/* Menu */
 .menu {
    display: flex;
    flex-direction: row;
    background-color: black;
    /* color: white; */
    /* align-items: end; 
   */
}

.menu li a{
    text-decoration: none;
    margin: 15px;
    color: white;
}
.menu ul{
list-style-type: none;
display: flex;
flex-direction: row;
}

/* .item{
margin: 15px;
} */



.flex-container-botton{
    display: flex;
    flex-grow: 1;
    justify-content:start ;
    flex: 1 2;
    
}

.about-me {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color:  rgb(250, 246, 246);
    padding: 15px;

}

.image {
  display: flex;  
  background-color: gray;
  height: 300px;
  margin: 0;
  padding: 10px;
 
}

.title-heading {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 15px;
}

