.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-template-areas: "header header header" "nav main main" 
     "aside main main" "aside extra extra" "img img post"
    "footer footer footer"
}

header {
    grid-area: header;
    background-color: aqua;
    height: 35px;
}

nav{
    grid-area: nav;
    background-color: rgb(151, 103, 164);
    height: 140px;
}

main{
    grid-area: main;
    background-color: rgb(186, 148, 44);
    height: 210px;
}

aside {
    grid-area: aside;
    background-color: darkgrey;
    height: 140px;
}

.extra {
    grid-area: extra;
    background-color: gray;
    height: 70px;
}

.img {
    grid-area: img;
    background-color: rgb(23, 96, 23);
    height: 70px;

}

.post {
    grid-area: post;
    background-color: rgb(203, 147, 225);
    height: 70px;
}

footer {
    grid-area: footer;
    background-color: orange;
    height: 35px;
}


.grid-item {
    padding: 10px;
    margin: 5px;
   text-align: center;
   color: white;
 }