.decor::first-letter{
    font-size: 200%;
    color:green;
}

.decor::first-line{
    font-size: 200%;
    color:purple;
}

.item {
    font-size: 20px;
    margin: 20px;
}

.item::before{
    content:"\2605" ;
    color: brown;
}

.item::after{
    content:"\2605" ;
    color: blueviolet;
}

.text{
    text-align: center;
    font-size: 20px;
    position: relative;
}

.text::after,
.text::before{
    content: "" ;
    height: 2px;
    width: 30%;
    background-color: black;
    position: absolute;
    transform: translate(-50% -50%);
}

.text::after{
    right: 0;
}

.text::before{
    left: 0;
}