.flex-container {
    background-color: bisque;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 300px;
    align-items: center;
    flex-wrap: wrap;
}

.flex-item {
    width: 30px;
    height: 30px;
    background-color: aquamarine;
    margin: 3px;
}
 .item1 {
    /* order: 4; */
    flex-grow: 1 ;
 }
 .item2 {
    /* order: 1; */
    flex-grow: 0;
}
 
 .item3 {
    /* order: 2; */
    flex-grow: 1 ;
}
 
 .item4 {
    /* order: 3; */
    flex-grow: 1 ;
}