
<section class="about-us">
        <h3>What they said about us</h3>
        <p>
          We are an award winning creative agency based in Wisconsin with a
          passion for helping our clients grow.
        </p>
        <div>
          <img
            src="images/consulting-img.jpg"
            alt="consulting image"
            class=""
          />
          <img src="images/photo-img.png" alt="photography image" class="" />
          <img
            src="images/web-design-img.png"
            alt="web design image"
            class=""
          />
          <img
            src="images/advertising-img.jpg"
            alt="advertising image"
            class=""
          />
          <article>
            <h4>
              <span>Business</span>
              <span>Consulting</span>
            </h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est
              laborum.  Sed ut perspiciatis unde Sorcimenia omnis iste natus
              irure dolor in reprehenderit in voluptate velit esse cillum dolore
              eu fugiat cotessa primastera nulla error sit voluptatem
              accusantium doloremque laudantium.
            </p>
            <button type="button">Check Our Projects</button>
          </article>
        </div>
      </section> 
