/* .grid-container {
    display: grid;
    padding: 10px;
    height: 500px;
    border: 1px solid #000;
    grid-template-columns: auto auto auto;
    /* grid-template-columns: 200px 100px 50px;
    grid-template-rows:50px 100px 50px ; */
    /* justify-content: space-evenly; */
     /* align-content: center; */
     /* grid-gap: 5px;
}


.grid-item {
    background-color: aliceblue;
    border: 1px solid #000; 
    padding: 20px 0;
    font-size: 30px;
}
.grid-item-1 { */
    /* grid-column-start: 1;
    grid-column-end: 4; */
    /* grid-column: 2/auto; */
    /* grid-column: 2/span 2;  */

    /* grid-row-start: 1 ;
    grid-row-end: 3; */
/* 
    grid-row: 1/4; */

    /* grid-area: 1/1/3/3;

} */ 

 .grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-template-areas: "header header header" "nav main main" "aside main main" "footer footer footer";
 }

 header {
    grid-area: header;
 }

 nav {
    grid-area: nav;
 }

 main {
    grid-area: main;
 }

 aside {
    grid-area: aside;
 }

 footer {
    grid-area: footer;
 }

 .grid-item {
    padding: 10px;
    border: 1px solid #000;
 }